**/build
*.pyc
*.tmp
*.log
*.bcf
*.aux
*.xml
*.run.xml
*.run
*.swp
.vscode
.DS_Store
**/.ipynb_checkpoints
SciFi/.ipynb_checkpoints/Simulation-checkpoint.ipynb
SciFi/content/data/Simulation/dataframe.csv
